    .searchTable{
        box-shadow: 0px 0px 5px 5px rgb(253, 194, 104);
    }
    .searchTableHead{
        background-color: rgb(253, 194, 104);
        color: white;
    }
    .searchInput{
        width: 100%;
        border: 1px solid #ccc;
        border-color: rgb(253, 194, 104);
    }
    .paginationColor{
        border: 1px solid rgb(253, 194, 104);
        border-color: rgb(253, 194, 104);
    }
    .paginationArrow{
        color:  rgb(253, 177, 62);
        height: 3.5vh;
    }
    .paginationText{
        color:  rgb(252, 152, 2);
        height: 1.4vh;
    }

    .searchInput:focus{
        border: 3px solid #ccc;
        border-color: rgb(253, 194, 104);
        box-shadow: 0 1px 1px rgb(255, 255, 255) inset, 0 0 8px rgba(78, 75, 75, 0.6);
    }
    .searchLogout{
        position: absolute;
        left: 83%;
    }
    .searchInputPosition{
        margin-top: 4%;
    }

    .searchTablePosition{
      margin-top: 1%;
    }
    .modalSearch{
      position:fixed;
      top: 30%;
      left: 30%;
      z-index: 1;
    }
    .spinnerSearch{
        position: absolute;
        left: 48.5%;
        top: 40%;
    }
    .searchIcon{
        position: absolute;
        left: 45%;
        top: 40%;
        opacity: 0.5;
    }